@inherits LayoutComponentBase

<div class="w-full h-screen">
    <main class="w-full h-full relative">        
        @Body
    </main>
</div>

<div id="blazor-error-ui" class="hidden">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
