<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="BlazorTicTacToe.styles.css" /> *@
    @* <script src="https://cdn.tailwindcss.com"></script> *@
    <link rel="stylesheet" href="css/app.css" />
    <HeadOutlet />
</head>

<body class="min-w-screen min-h-screen">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
